body {
  background: url("../images/homepage.jpg") no-repeat;
  background-size: contain;
}

.footer {
  font-family: 'Overpass Mono', monospace;
  margin:2vw;
  background-color: white;
  color: black;
  border-style:solid;
  border-width: 5px;
  border-color: #230644;
  padding: 2px;
}

h1 {
  font-family: 'Overpass Mono', monospace;
  font-size: 10vw;
  color: #C6D22B;
  text-align: center;
}

a {
  display: block;
  text-decoration:none!important;
  color: #C6D22B;
}

a:visited {
  color: #C6D22B;
}

a:hover {
  color: #230644;
}

.nav {
    height: 4vw;
    font-family: 'Overpass Mono', monospace;
    font-size: 3.1vw;
    color: #C6D22B;
    float: left;
    display: inline-block;
    margin-top: -3vw;
    padding: 6vw;
    padding-top: 1vw;
}

.nav2 {
  padding-left: 10vw;
}
.nav3 {
  padding-left: 8vw;
  padding-right:0vw;
}
